<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

        <div class="contain-to-grid">
          <nav class="top-bar" data-topbar>
            <ul class="title-area">
              <h2><%= link_to "Arduino Smart Home",root_path   %></h2>
            </ul>
            <section class="top-bar-section">
              <ul class="right">
                <% if signed_in? %>
                    <li class="divider"></li>
                   <li class="has-dropdown">
                     <a href="#"><%= current_user.first_name %></a>
                     <ul class="dropdown">
                       <li><%= link_to "Profili Görüntüle",profile_path(current_user)  %></li>
                       <li><%= link_to "Yeni Kayıt",register_path  %></li>
                       <li><%= link_to "Oturum Kapat",logout_path,method: :delete  %></li>

                     </ul>

                   </li>
                    <li class="divider"></li>
                    <li><%= link_to "Hakkında",about_path,method: :get  %></li>
                    <li class="divider"></li>
                    <% else %>
                <li class="divider"></li>
                <li><%= link_to "Oturum Aç",login_path,method: :get  %></li>
                <li class="divider"></li>
                 <li><%= link_to "Hakkında",about_path,method: :get  %></li>
                    <li class="divider"></li>
                    <% end %>
              </ul>
            </section>
          </nav>
        </div>
        <div class="row">
          <%= yield %>

        </div>



    <%= javascript_include_tag "application" %>
  </body>
</html>